* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    line-height: 36px;
    background-color: #23424A;
    padding: 4em 2em;
}

h1 {
    font-size: 2rem;
    height: 40%;
    color: white;
}

p {
    color: white;
    line-height: 24px;
    margin-top: 1.5em;
}

button {
    mix-blend-mode: normal;
    background: #38CFD9;
    border: none;
    box-sizing: border-box;
    border-radius: 31.5px;
    margin-top: 2em;
    cursor: pointer;
}

button:hover, 
button:focus {
    opacity: 0.7;
    transition-property: opacity;
    transition-delay: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

button:not(focus),
button:not(hover) {
    opacity: 1;
    transition-property: opacity;
    transition-delay: 0.7;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

button span {
    display: block;
    font-weight: 700;
    font-size: 16px;
    padding: 8px;
    letter-spacing: 0.05em;
    color: #072A2D;
    text-transform: uppercase;
    padding: 1em;
    border: none;
}

.flex-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    line-height: 36px;
    padding: 2em;
}

.flex-container p {
    margin-top: 0.2em;
}

.row h2{
    color: #136C72;
}

.row p {
    color: #000;
}

.row + .row {
    margin-left: 24px;
}

.row .col {
    display: flex;
    flex-direction: column;
    background-color: #136C72;
    text-align: center;
}

.row .col * {
    color: white
}